body {
  background-color: violet;/* background color */ 
background image: url ("../Photo/FON.jpg");

}
img-constr

h2 {
  color: darkblue;
text-shadow/ solid; 2px;
  text-align: center;
}
<div>This div element has a height of 70% and a width of 80%.</div>

/*p {
  font-family: Arial;
  font-size: 20px;
}*/


a {
color: violet;
}

.testgreen {
color: blueviolet;
}

#hueta {
border: solid olive;
outline: green solid 10px;
border-width: 20 px; 5 px;
margin: 25px 50px 75px 100px;
padding: 54px;
}

/* unvisited link */
a:link {
  color: olive;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

a:link {
  background-color: yellow;
}

a:visited {
  background-color: lightblue;
}

a:hover {
  background-color: lightgreen;
}

a:active {
  background-color: hotpink;
}

table, th, td {
  border: 2px solid;
}
#button {
  background-color: #violet; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
